<form method="POST", action="/user">
    <fieldset>
        <legend>Search User:</legend>
        <label for="uname">User Name</label>
        <input type="text" id="uname" name="uname" value=""><br>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value =""><br>
        <label for="date">Date Created</label>
        <input type="date" id="date" name="date" value=""><br>
        <input type="button" value="Search" onclick="searchUsers()">
    </fieldset>
</form>

<h3>User Search:</h3>
<table>
    <thead> 
        <th>Username</th> 
        <th>Email</th> 
        <th>Date Joined</th>  
    </thead> 
    <tbody>
        {{#each user}} 
        <tr> 
            <td>{{user_name}}</td> 
            <td>{{email}}</td> 
            <td>{{date_created}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
